/* Base Styles -------------------- */

*{
  box-sizing: border-box;
}

body {

  color: #878787;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {  
  font-size: 5.625rem; /* 90px/16px  */
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3;
  text-shadow: 3px 3px 9px #333;

}

span {
    text-shadow: 3px 3px 9px #333;
}


h2 {
  font-size: 3.3125em; /* 53px/16px  */
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 .5em; /* 0 0 26px */
}

h3 {
  font-size: 1.25em; /* 20px/16px  */
  color: #48525c;
  line-height: 1.2;
  margin-bottom: 1.7em; /* 34px */
}

img {
  max-width: 100%;
  margin-bottom:20px;
}

ol,
ul {
  margin: 30px 0;
}

li { 
margin-bottom:10px;
}
  
    
/* Pseudo-classes ------------------ */

a:link {
  color: #568ba3;
  text-decoration: none;
}

a:visited {
  color: lightblue;
}

a:hover {
  color: #5c94c3;
 
}

.callout:hover {
  color: white;
  background-color:#4682b4;
}

a:active {
  color: lightcoral;
}

/* Main Styles --------------------- */

.main-header {
/* se puede hacer en una sola linea como la de abajo
  background-color: #ffa949;
  
  background-image: url('../img/mountains.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
*/
  padding-top:170px;
  height: 550px;
  
 
  background: linear-gradient(#4682b4, transparent 90%),
              linear-gradient(0deg, #fff, transparent),
              #ffa949 url('../img/yacht3.jpg') no-repeat center;
  background-size: cover;

}

.title {
  color: white;
  font-size: 1.625rem; /* 26px/16px */
  letter-spacing: .065em;
  font-weight: 200;
/*  border-bottom: 2px solid;*/
  padding-bottom: 12px;
}

.intro {
  font-size: 1.25em; /* 20px/16px */
  line-height: 1.6;  
}

.primary-content,
.main-header,
.main-footer {
  text-align: center;
}

.primary-content {
	padding-top: 25px;
  padding-bottom: 70px;
}

.secondary-content {
	padding-top: 60px;
	padding-bottom: 70px;
  border-bottom: 2px solid #dfe2e6;
/*  overflow: auto; esto puede servir para separar las columnas cuando se usa float, pero mejor es usar clearfix  */
}

.callout {
  font-size: 1em;
  font-weight:500;
  margin-top: 20px;
  text-transform:uppercase;
  display: inline-block;
  width:350px;
  padding: 19px 39px 18px 39px;
  text-align: center;
  border-radius: 10px;
  border: 3px solid #4682b4;
/*  border-width: 1px 1px 3px;*/
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
 
}



.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 10px solid #568ba3;
}

.t-border {
  border-top: 2px solid #dfe2e6;
}

/* Layout Styles ------------------ */

.primary-content, 
.secondary-content {
 
  padding-left:50px;
  padding-right: 50px;
  margin: auto;
  max-width:900px;
}

.wildlife {
  color: white;
  background: #434a52 url('../img/bridge.jpg') no-repeat center; 
  background-size: cover;
  padding: 18% 24%;
/*  border-top: 10px solid #999;*/
  margin: 85px 0 60px;
   box-shadow:  5px 5px 20px 3px  rgba(0,0,0, 0.3);
  border-radius: 1%;
}

.arrow {
  
 width: 50px;
}

/* floated columns ------------------ */

.resorts,
.tips {
  width: 46.5%
}

.tips{
  float:right;
}

.resorts {
  float: left;
}


/* floated clearfix ------------------ */

.group:after {
  content:"";
  display: table;
  clear: both;
}


/* Media  querys-------------------- */

@media (max-width: 1024px) {
  

  .wildlife {
  padding: 10% 12%;
  margin: 50px 0 20px;
}
}

@media (max-width: 510px) {

.resorts,
.tips {
  float: none;
  width: 100%
}

@media (max-width:768px) {
    .primary-content,
    .secondary-content {
     width:100%;
     padding: 20px;
     border-top: none;
  }

  .main-header {
  max-height:380px;
  padding: 50px 0 0;
  
}


  .title {
  font-size: 1.3rem;
  border:none;
}

  h1 {
  font-size: 4.5rem;
  line-height:1.1;

}

  .arrow {
  display: none;

}

.intro {
  font-size: 1rem;
}



 .main-footer {
  padding : 20px 0;
  
  
}

.callout {
  width: 75%;
  padding:10px 10px;
  text-align: center;
  font-size: 1.05em;


}

}






  



